.container {
	background-image: url('../../img/form2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerForm {
	box-shadow: 8px 13px 26px 9px rgba(0, 0, 0, 0.618);
	background-color: #ffffffdc;
	height: 850px;
	width: 800px;
	border-radius: 30px;
	margin: 200px;
	padding: 20px;
	color: #2e2e2e;
	display: flex;
	flex-direction: column;
}

.title {
	font-family: 'Poppins';
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 40px 0 20px;
}

.btn {
	background-color: #1170ec;
	border: none;
	padding: 15px 35px;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	color: white;
	width: 100%;
}

.btnDisabled {
	border: none;
	padding: 15px 35px;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	color: white;
	width: 100%;
	cursor: not-allowed;
	background-color: #a5a5a5ef;
}

.btn:hover {
	background-color: #1ca0ec;
}

.containerTypes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	padding: 20px 0;
	grid-gap: 20px;
	margin: 20px 0;
}

.check {
	margin-right: 10px;
	border: #e92c2c;
}

.lbl {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
}

.inputForm {
	font-size: 18px;
	height: 20px;
	padding: 15px 35px;
	border-radius: 5px;
	margin: 40px 10px 0 0;
	background: #f5f4f3;
	border: 1px solid #5a5959;
	letter-spacing: 1px;
	width: 300px;
}
.inputFormError {
	font-size: 18px;
	height: 20px;
	padding: 15px 35px;
	border-radius: 5px;
	margin: 40px 10px 0 0;
	background: #ec8c7f73;
	border: 1px solid #e92c2c;
	letter-spacing: 1px;
	width: 300px;
}

.inputFormOk {
	font-size: 18px;
	height: 20px;
	padding: 15px 35px;
	border-radius: 5px;
	margin: 40px 10px 0 0;
	background: #9eec7f73;
	border: 1px solid #1a880b;
	letter-spacing: 1px;
	width: 300px;
}
.inputFormError::placeholder {
	color: #444444;
}

.inputForm::placeholder {
	color: #444444;
}

.svgBtn {
	height: 70px;
	width: 70px;
	color: rgb(231, 233, 235);
	position: absolute;
	left: 80px;
	top: 80px;
}
.svgBtn:hover {
	transform: scale(1.2);
	transition: 1s ease-in-out;
	color: #d6e4ed;
}

.containerError {
	width: 300px;
	background-color: #e92c2ce7;
	height: 300px;
	border-radius: 30px;
	position: absolute;
	right: 150px;
}

.errTitle {
	font-size: 30px;
	color: #f5f4f3;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 20px;
	text-decoration: underline;
}
.UlistErr {
	padding-left: 0;
}

.listErr {
	list-style: none;
	color: #fff;
	font-size: 18px;
}
